/* fallback */


.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.page-content {
}

.login-card, .add-homework-card, .submit-homework-card  {
	margin: 50px auto;
	width: 50%;
	min-width: 600px;
  min-height: 50px;
}

.login-card-form {
	text-align: center;
}

.homework-card, .homework-detail-card {
	margin: 50px auto;
	width: 70%;
	min-height: 50px;
	min-width: 600px;
}

.mdl-menu__item > a {

}

.detail-table {
	width: 100%;
}

.homework-detail-button {
	margin: 0 10px;
}

.hide {
	display: none;
}

.homework-done {
  background: #3E4EB8;
  color: #FFF;
}


.homework-done * {
  color: #FFF;
}

.homework-done-button {
  color: #FFF;
}

.submit-label {
  float: right;
}

.image-load-none {
  display: none;
}

.image-load-display {
  top: 7px;
}

.image-link {
  margin: 6px 0;
}

.mdl-card__supporting-text {
  font-size: 1.1rem;
}

.h_class {
}
